<div class="container">
  <div class="row">


    <div class=" row menubar" style="background-color:beige;">
      <div class="col-lg-3 col-sm-12 band-logo">
        <img
          src="https://66.media.tumblr.com/7704ea7f35cc0d988c50c788858bfa5a/f171deccdad62f52-73/s2048x3072/964a7de091def8ded9d91c2fcbb5e6f1076e7215.png"
          alt="">
      </div>
      <div class="links col-lg-9 col-sm-12">
        <div class="menu-item">
          <a href="#music">music</a>
        </div>
        <div class="menu-item">
          <a href="#profile">profile</a>
        </div>
      </div>



    </div>
  </div>
  <body>
  <app-music id="music"></app-music>
  <app-profile id="profile"></app-profile>
  </body>
  <footer>
    <p>Copyright © Gaudies 2020</p>
  </footer>
</div>


